html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  padding-top: 0px;
}

a:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}

.text-editor {
  display: grid;
  gap: 1.8rem;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    a {
      color: #266DF7;
      text-decoration: none;
      font-weight: 600 !important;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 2rem;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 2rem;
  }

  blockquote {
    border-left: 2px solid #266DF7;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 1rem;
    }
  }

  h1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;

    // MD
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 46px;
    }

    // LG
    @media (min-width: 1200px) {
      line-height: 70px;
      font-size: 61px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 70px;
      line-height: 80px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    color: #021959;
    margin-bottom: -16px;

    // MD
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 23px;
    }

    // LG
    @media (min-width: 1200px) {
      line-height: 22px;
      font-size: 28px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 25px;
      line-height: 33px;
    }
  }

  iframe {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
  }
}